Codesphere Managed Service Container Registry
Copyright (c) Codesphere SE

This project includes code licensed under the following terms:
{{ range . }}{{ if eq .Name "github.com/codesphere-ecosystem/managed-services-registry" }}{{ continue }}{{ end }}
----------
Module: {{ .Name }}
Version: {{ .Version }}
License: {{ .LicenseName }}
License URL: {{ .LicenseURL }}
{{ end -}}
